service: ratemymouth
image: teyermann/ratemymouth

servers:
  web:
    - ratemymouth.dotsncircles.com
  worker:
    hosts:
      - ratemymouth.dotsncircles.com
    cmd: bin/rails solid_queue:start

proxy:
  ssl: true
  host: ratemymouth.dotsncircles.com
  app_port: 80

registry:
  username: teyermann
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64

env:
  secret:
    - RAILS_MASTER_KEY

ssh:
  user: root
  proxy: root@ratemymouth.dotsncircles.com

volumes:
  - "/root/docker_storage/ratemymouth_db/:/rails/storage"
